{% extends 'base.html.twig' %}

{% block title %}Accueil des adresses{% endblock %}

{% block content %}
    <h1>Liste des adresses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rue</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.street }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.zipCode }}</td>
                <td>
                    <a href="{{ path('location_show', {'id': location.id}) }}">Détails</a>
                    <a href="{{ path('location_edit', {'id': location.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune adresse trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('location_new') }}">Créer une nouvelle adresse</a>
{% endblock %}
