{% extends 'base.html.twig' %}

{% block title %}Voir un thème{% endblock %}

{% block content %}
    <h1>Theme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ theme.titleTheme }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ theme.descriptionTheme }}</td>
            </tr>
{#            <tr>#}
{#                <th>Annonces</th>#}
{#                {% for post in posts %}#}
{#                <td>{{ theme.posts.titlePost }}</td>#}
{#                {% endfor %}#}
{#            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('theme_index') }}">Revenir à la liste</a>
    {% if is_granted( 'IS_AUTHENTICATED_USER') %}
    <a href="{{ path('theme_edit', {'id': theme.id}) }}">Modifier</a>
        {{ include('theme/_delete_form.html.twig') }}
    {% else %}
    {% endif %}
{% endblock %}