{% extends 'base.html.twig' %}

{% block title %}Voir un thème{% endblock %}

{% block content %}
    <h1>Theme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ theme.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ theme.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ theme.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('theme_index') }}">Revenir à la liste</a>

    <a href="{{ path('theme_edit', {'id': theme.id}) }}">Modifier</a>

    {{ include('theme/_delete_form.html.twig') }}
{% endblock %}