{% extends 'base.html.twig' %}

{% block title %}Accueil des évènements{% endblock %}

{% block content %}

    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Liste des annonces</h3>
                    <p class="services-header-body"><em> "To fish peach or not to peach fish" </em>  </p><hr>
                </div>
            </div>

            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        {% if posts is not empty %}
                        {% for post in posts %}

                    <div class="col-lg-4 services-group wow animated fadeInLeft animated" data-wow-offset="40" style="visibility: visible; animation-name: fadeInLeft;">
                        <h4 class="services-title">Annonce {{ loop.index }}</h4>
                        <p class="services-body">Titre: {{ post.titlePost }}</p><p> <br>{{ post.descriptionPost }}</p><p><br>{{ post.announcer }}</p>
                            <br>
                        {% if is_granted('ROLE_USER') %}
                            <p class="services-more"><a href="{{ path('post_show', {'id': posts.id}) }}">Voir</a></p>
                            <p class="services-more"><a href="{{ path('post_edit', {'id': posts.id}) }}">Editer</a></p>
                        {% else %}
                        {% endif %}
                    </div>
                        {% endfor %}

                        {% else %}
                            <p>Pas d'évènement disponble !</p>
                        {% endif %}
                    </div>
                </div>

                    <p class="services-more"><a href="{{ path('post_new') }}">Ajouter une annonce</a></p>
                </div>
            </div>
            <!-- End Serivces Row 1 -->
    </section>
{% endblock %}
