{% extends 'base.html.twig' %}

{% block title %}Voir un évènement{% endblock %}

{% block content %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ post.titlePost }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.descriptionPost }}</td>
            </tr>
            <tr>
                <th>Annonceur</th>
                <td>{{ post.announcer }}</td>
            </tr>
        </tbody>
    </table>

<a href="{{ path('post_index') }}">Retour à la liste</a>
    {% if is_granted( 'IS_AUTHENTICATED_USER') %}
<a href="{{ path('post_edit', {'id': post.id}) }}">Modifier</a>
        {{ include('post/_delete_form.html.twig') }}
    {% else %}
    {% endif %}


{% endblock %}
